.footer-content {
    background-color: #160424;
    color: white;
    padding: 50px;
    margin-top: 50px;
  }

  .footer-links {
    color: white;
    margin-left: 4px;
  }

.footer-links:hover{
    color: white;
    text-decoration: underline;
    display: inline-block;
  }
